<h1>Company Details</h1>
<h3><%= @company.name %></h3>
<hr>
<h2>Our Offices</h2>
<% @company.buildings.each do |building| %>
    <p>
        Location: <%= building.country %>
        <br>
        Bulding: <%= building.name %>
    </p>

<% end %>
<hr>
<h2>Add A New Employee</h2>
<%= form_tag('/employees') do -%>
  <%= label_tag 'Name' %>
  <%= text_field_tag 'name' %>
  <br>
  <%= label_tag 'Title' %>
  <%= text_field_tag 'title' %>
  <br>
  <%= hidden_field_tag 'company_id', @company.id %>
  <%= submit_tag 'Save' %>
<% end -%>
<hr>
<h2>Our Employees Details</h2>
<% @company.employees.each do |employee| %>
    <p>
        Name: <%= employee.name %>
        <br>
        Title: <%= employee.title %>
    </p>
    <%= link_to 'Remove this employee', company_path(employee.id), method: :delete %>
<% end %>
